.container{
    margin: 0px;
    padding: 0px 20px 0px 0px;
}

.header{
    background-color: #0d0f0f;
    text-align: left;
    padding: 10px 10px 15px 10px;
    border-radius: 10px;
    margin: 12px 0px 0px 0px;
    font-size: 25px;
}

.header > p{
    color: #cdcecf;
    font-size: 15px;
}

.main-content{
    padding: 10px 0px 0px 0px ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
}

.main-content>div{
    border-radius: 10px;
    background-color: #0d0f10;
    margin: 0%;
}
.main-content>div>h4{
    margin: 0px;
    padding: 10px;
    font-size: 18px;
    color: #cdcecf;
}


.resources{
    grid-column: 1;
    grid-row: 1;
    
}

.resources > h3{
    color: #060708;
    margin: 0px;
    padding: 20px;
    background-color: #00cc76;
    border-radius: 10px 10px 0px 0pc;
}

.resources > h1{
    color: #060708;
    margin: 0px;
    padding: 10px;
    background-color: #00cc76;
    border-radius: 0px 0px 10px 10px;
}

.resources > h1 > p{
    font-size: 25px;
    display: inline;
    vertical-align: top;
}



.requests{
    grid-column: 1;
    grid-row: 2;
    color: #cdcecf;
}

.requests > h3{
    font-size: 18px;
    margin: 0px;
    padding: 10px;
}

.requests > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}

.requests > div >h4{
    margin: 0px;
    font-size: 18px;
}

.requests > div > p{
    margin: 0px;
    font-size: 15px;
}


/* Come back to the temperature bar */
.temperature{
    grid-column: 2;
    grid-row: 1/3;

}

.temperature > div{
    padding: 20px;
    align-self: center;
}


.available-resources{
    grid-column: 3/5;
    grid-row: 1/3;
    color: #cdcecf;
}

.available-resources>h4{
    color: #cdcecf;
}



.resource-grid{
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    grid-auto-rows: auto;
    gap: 3px;
    padding: 10px 10px 10px 10px;
}

.resource-grid > div {
    height: 15px;
    width: 15px;
    grid-column: auto;
    grid-row: auto;
    background-color: #00cc76;
    border-radius: 2px;
    color: #00cc76;
}


.consumption{
    grid-column: 1/3;
    grid-row: 3/6;
    color:#cdcecf;
    margin: 0px;
}

.consumption > div{
    margin: 0px;
}




.water-supply{
    grid-column: 3;
    grid-row: 3/5;

    padding: 10px;
}

.water-supply > p{
    margin: 10px 0px 0px 0px;
    padding: 10px;
    font-size: 12px;
    /* color: #cdcecf; */
    color: gray;
    text-align: left;
    border-top: 2px solid #121619;
}

.water-supply > h4 {
    margin: 10px;
    padding: 10px;
}


.water-display{
    padding: 10px;
    /* display: block;
    justify-content: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.water-display > div{
    align-self: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #008f8d;
    border: 2px solid #008f8d;
}


#water-fill{
    background-color: #0d0f10;
    position: absolute;
    width: 150px;
    height: 150px;

    border-radius: 100%;
    clip: rect(0px, 150px, 150px, 81.15px);
    transform: rotate(270deg);
}


.box{
    height: 150px;
    width: 150px;
    position: absolute;
    
    border-radius:100%;
    overflow: hidden;
}
.percent {
    position: absolute;
    left: 0;
    top: 0;
    z-index:3;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    align-items:center;
    justify-content:center; 
    color:#cdcecf;
    font-size:25px;
} 






.provision{    
    grid-column: 4;
    grid-row: 3/5;
    color: #cdcecf;
}

.provision > div{
    margin: 0px;
    padding: 20px;
}


.resource-variety{
    grid-column: 3/5;
    grid-row: 5;
}

.resource-variety>h6{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px 20px 20px 20px;
    height: 70px;
    width: 70px;
    border: 10px solid #00cc76;
    border-radius: 50%;
}

.variety-wrapper{
    padding: 10px;
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}


.pieContainer {
    grid-column: 1;
    height: 150px;
    position: relative;
  }
  
  .pieBackground {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 100%;
  } 
  
  .pie {
    transition: all 1s;
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    clip: rect(0px, 75px, 150px, 0px);
  }
  
  .hold {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    clip: rect(0px, 150px, 150px, 75px);
  }
  
  #other .pie {
    background-color: #2a46d1;
    transform:rotate(40deg);
  }
  
  #medical {
    transform: rotate(30deg);
  }
  
  #medical .pie {
    background-color: #862ffa;
    transform: rotate(60deg);
  }
  
  #food {
    transform: rotate(90deg);
  }
  
  #food .pie {
    background-color: #00daff;
    transform: rotate(180deg);
  }
  
  #water {
    transform: rotate(210deg);
  }
  
  #water .pie {
    background-color: #00cc76;
    transform: rotate(160deg);
  }

  
  .innerCircle {
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: #0d0f0f;
    border-radius: 100%;
    top: 15px;
    left: 15px; 
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5) inset;
    color: transparent;
  }
  .innerCircle .content {
    position: absolute;
    display: block;
    width: 120px;
    top: 30px;
    left: 0;
    text-align: center;
    font-size: 14px;
  }

.variety-key{
    grid-column: 3/5;
    color: #cdcecf;
}
.variety-key>div{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.variety-key > div > h6 > div{
    height: 15px;
    width: 15px;
    border-radius: 2px;
    margin-right: 10px;
}

#food-color{
    background-color: #00daff;
}
#water-color{
    background-color:#00cc76;
}
#medical-color{
    background-color: #862ffa;
}
#other-color{
    background-color: #2a46d1;
}

.variety-key>div>h6{
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align: left;
    color: #cdcecf;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}

.variety-key>div>p{
    color: white;
    text-align: right;
    margin: 10px;
}