.container{
    margin: 0px;
    padding: 0px 0px 0px 0px;
}

.header{
    background-color: #0d0f0f;
    text-align: left;
    padding: 10px 10px 15px 10px;
    border-radius: 10px;
    margin: 12px 0px 0px 0px;
    font-size: 25px;
}

.header > p{
    color: #cdcecf;
    font-size: 15px;
}

.main-content{
    padding: 10px 0px 0px 0px ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
}

.main-content>div{
    border-radius: 10px;
    background-color: #0d0f10;
    margin: 0%;
}


.resources{
    grid-column: 1;
    grid-row: 1;
    
}

.resources > h3{
    color: #060708;
    margin: 0px;
    padding: 20px;
    background-color: #00cc76;
    border-radius: 10px 10px 0px 0pc;
}

.resources > h1{
    color: #060708;
    margin: 0px;
    padding: 10px;
    background-color: #00cc76;
    border-radius: 0px 0px 10px 10px;
}

.resources > h1 > p{
    font-size: 25px;
    display: inline;
    vertical-align: top;
}



.requests{
    grid-column: 1;
    grid-row: 2;
    color: #cdcecf;
}

.requests > h3{
    font-size: 18px;
    margin: 0px;
    padding: 10px;
}

.requests > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}

.requests > div >h4{
    margin: 0px;
    font-size: 18px;
}

.requests > div > p{
    margin: 0px;
    font-size: 15px;
}


/* Come back to the temperature bar */
.temperature{
    grid-column: 2;
    grid-row: 1/3;

}


.available-resources{
    grid-column: 3/5;
    grid-row: 1/3;
    color: #cdcecf;
}

.available-resources >h4{
    margin: 0px;
    padding: 10px;
    font-size: 18px;
}

.resource-grid{
    display: grid;
    grid-template-columns: repeat(27, 1fr);
    grid-auto-rows: auto;
    gap: 4px;
    padding: 10px 10px 10px 10px;
}

.resource-grid > div {
    height: 15px;
    width: 15px;
    grid-column: auto;
    grid-row: auto;
    background-color: #00cc76;
    border-radius: 2px;
    color: #00cc76;
}





.consumption{
    grid-column: 1/3;
    grid-row: 3/6;
}



.water{
    grid-column: 3;
    grid-row: 3/5;
}

.provision{    
    grid-column: 4;
    grid-row: 3/5;
}

.depletion{
    grid-column: 3/5;
    grid-row: 5;
}