.header{
    margin: 0px;
    padding: 0px 0px 0px 0px;
    text-align: center;
}

.header > h1{
    border-bottom: 2px solid #1b1d21;
    padding-bottom: 20px;
}

.dasher-container{
    padding: 0%;
}

.all-dashers-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-auto-rows: minmax(30px, auto);

}

.dasher-wrapper{
    margin-bottom: 10px;
    background-color: #0d0f0f;
    background: var(--glass-fill, linear-gradient(145deg, rgba(215, 237, 237, 0.16) 0%, rgba(204, 235, 235, 0.00) 100%));
    border-radius: 10px;
    border: 2px solid #2f2f2f;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0px;
    grid-auto-rows: minmax(70px, auto);
}

.dasher-header {
    grid-column: 1 / 4;
    grid-row: 1;
    margin: 0%;
    padding: 10px;
}

.dasher-wrapper > ul {
    list-style: none;
    margin: 0px;
}

.dasher-subsection{
    margin: 0%;
    padding: 0px 10px 10px 10px;
}

.dasher-subsection > h4{
    margin: 0%;
    padding: 0px;
}

.dasher-subsection > p{
    margin: 0%;
    padding: 0%;
    color: gray;
}

.dasher-subsection-form{
    border-radius: 10px;
    /* background: linear-gradient(to right, #2f2f2f, black); */

    grid-row: 4;
    grid-column: 1/4;

}


.dasher-mover-form {
    padding: 0px 10px 0px 0px;
    display: flex;
    align-items: center;
}

.dasher-mover-form > div > p{
    margin: 0px;
    /* border: 2px solid #b6ef9b;
    background-color: aqua; */
    list-style: none;
}


.dasher-mover-form > button {
    padding: 8px;
    font-size: 20px;
    border-radius: 10px;
    margin-left: auto;
    border: 2px solid #b6ef9b;
    background-color: #b6ef9b;
}

.dasher-mover-form > img{
    height: 20px;
    margin: 0%;
}

.dasher-mover-form > div{
    padding: 0px 0px 0px 10px;
    margin: 0%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-right: 10px;
    background-color: #1b1d21;

}

.model-form{
    margin: 0%;
    border-radius: 10px;
    border: #2f2f2f;
    background-color: #1b1d21;
    color: gray;
    padding: 12px;
    font-size: 15px;
}