.container{
    color: white;
}

.header{
    background-color: #0d0f0f;
    text-align: left;
    padding: 10px 10px 15px 10px;
    border-radius: 10px;
    margin: 12px 0px 0px 0px;
    font-size: 25px;
}

.header > p{
    color: #cdcecf;
    font-size: 15px;
}

.sub-header{
    font-size: 20px;
    padding: 10px;
}

.wrapper{
    padding: 10px;
    grid-gap: 20px;
    display: grid;
    grid-template-columns: auto(2, 2fr);
    grid-auto-rows: minmax(100px, auto);
}

.wrapper > div{
    background-color: #0d0f0f;
    border-radius: 10px;
}
.wrapper > div > h1{
    margin: 0px;
    padding: 10px;
    color: #cdcecf;
    font-size: 18px;
}

.nutrients{
    grid-column: 1;
    grid-row: 1/3;
}  

.nutrients > div{
    color: #cdcecf;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background: var(--glass-fill, linear-gradient(145deg, rgba(215, 237, 237, 0.16) 0%, rgba(204, 235, 235, 0.00) 100%));
}

.nutrients > div > h1{
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    color: white;
}

.inhab-info{
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.inhab-info>h3{
    grid-column: auto;
    grid-row: 1;
    font-size: 15px;
}

.inhab-info>h3>p{
    font-size: 15px;
    margin: 0px;
    padding: 0px;
}

#diet-pref{
    margin: 0px;
    padding: 10px 0px 0px 0px;
    font-size: 18px;
    color: white;
}


.macro{
    grid-column: 1;
    grid-row: 3/7;
    grid-template-rows: auto;
}

.macro > div {
    padding: 10px;
}


.vitamins{
    grid-column: 2;
    grid-row: 1/6;
}

#vit-temp{
    margin: 10px;
}

#vit-temp > .inhab-info{
    color: #cdcecf;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background: var(--glass-fill, linear-gradient(145deg, rgba(215, 237, 237, 0.16) 0%, rgba(204, 235, 235, 0.00) 100%));
}

#vit-temp > div > h3{
    font-size: 18px;
}


#vit-temp > div > h3 > p{
    color: #cdcecf;
}





.hydration{
    grid-column: 2;
    grid-row: 6/7;
    position: relative;
}

.hydration > div{
    display: inline-flex;
}


.hyrdation-container{
    margin: 10px;
    background-image: linear-gradient(#2a46d1,#00daff);
    height: 150px;
    width: 150px;
    border-radius: 100%;
    min-width: 150px; /* Set a minimum width */
    min-height: 150px; /* Set a minimum height */
}

.innerCircle{
    position: relative;
    background-color: #0d0f0f;
    height: 120px;
    width: 120px;
    border-radius: 100%;
    left: 15px;
    top: 15px;
}

.hydration-status{
    position: relative;
    background-color: #0d0f0f;
    height: 120px;
    width: 120px;
    border-radius: 100%;
    left: 15px;
    bottom: 15px;
    overflow: hidden;
    clip-path: polygon(0% 0%, 100% 0%, 100% 40%, 0% 40%);
}


.water-text{
    display: inline-flex;
    align-self: center;
    text-align: center;
    color: #cdcecf;
    margin: 0px;
    padding: 0px;
    font-size: 15px;
}

.water-text>p{
    margin: 0px;
    padding: 0px;
}


.water-text > p > span{
    color: aquamarine;
}
