.home-container{
    margin: 0px;
    padding: 0px 0px 0px 0px;
}

.welcome-header{
    background-color: #0d0f0f;
    text-align: left;
    padding: 10px 10px 15px 10px;
    border-radius: 10px;
    margin: 12px 0px 0px 0px;
    font-size: 25px;

}

.welcome-header > p{
    color: #cdcecf;
    font-size: 15px;
}

#sub-header{
    margin: 0px;
    padding: 20px 0px 20px 10px;
    font-size: 18px;
}



.wrapper-demeter{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: minmax(100px,auto);
    gap: 10px;
}

 
.demeter-chat{
    text-align: center;
    background-color:  #0d0f0f;
    padding: 15px;
    border-radius: 10px;
    
}

.demeter-chat > div{
    padding: 10px;
    background-color:#121619;
    border-radius: 10px;
}

.demeter-chat > div > h1{
    text-align: left;
    font-size: 18px;
    padding: 10px;
}

#demeter-output{
    padding: 10px;
    margin: 0px;
    text-align: left;
    color: #cdcecf;
    border-radius: 10px;
    font-size: 18px;

}

.order-form{
    color: #cdcecf;
}

.order-form > select{
    background-color: #0d0f0f;
    color: #cdcecf;
    border: 2px solid #0d0f0f;
}

.order-form > button{
    background-color: #0d0f0f;
    color:#cdcecf;
    border: 2px solid #0d0f0f;
}




.input-area{
    text-align: left;
    padding: 10px;

}

.input-area > form{
    align-self: center;
    display: flex;
    align-items: center;
    text-align: left;
}

#user-input{
    border: 2px solid #cdcecf;
    padding: 5px;
    border-radius: 10px;
    background-color:  transparent;
    color: #cdcecf;
    text-align: center;
    width: 300px;
    
}

#user-input::placeholder {
    color: #cdcecf;
}

#submit-button {
    border: 0px solid transparent;
    border-radius: 10px;
    padding: 5px;
    background-color:  transparent;
    color: #cdcecf;
}

#submit-button > img{
    height: 15px;
}
#submit-button:hover{
    background-color: transparent;
}



.right-bar{
    margin: 0px 10px 0px 0px;
    border-radius: 10px;
    grid-column: 2;
    grid-row: auto;
    background-color: #0d0f0f;
}

.right-bar > h1{
    margin: 0px;
    padding: 10px;
    font-size: 18px;
    color: #cdcecf;
}