.body{
    background-color: #1b1b1b;
    font-family: 'Roboto', sans-serif;

    color: white;
    padding: 20px;
}

.demeter-figure{
    background-color: #100c08;
    padding:10px;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    box-sizing: content-box;
    border: 2px solid gray;

}

.demeter-figure > img{
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid gray;
    height: 50px;
}

#temp-headline{
    padding-left: 5px;
    text-align: left;
    font-size: 20px;
}

.nav-bar{
    padding-top: 5px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.nav-bar > a{
    border-radius: 10px;
    font-size: 20px;
    display: inline;
    text-align: center;
    padding: 5px 40px 5px 40px;

    background-color: #100c08;
    border: 2px solid gray;

    text-decoration: none;
    overflow: hidden;
    align-self: center;
    color: white;
}

@media (max-width: 1000px) {
    .nav-bar > a {
        padding: 5px;
    }
}

.nav-bar > a:hover {
    color: gray;
  }


