{% extends 'inhabitant/base.html' %}

{% block body%}

{% for x in nc %}
<h3>{{ x }}</h3>
<ul>
    <li>Calories: {{ x.calories }}</li>
    <li>Fat: {{ x.fat }}</li>
    <li>Protein: {{ x.protein }}</li>
    <li>Sodium: {{ x.sodium }}</li>
    <li>Fiber: {{ x.fiber }}</li>
    <li>Plant Based: {% if x.isPlantBased == True %} Yes {% else %} No{% endif %}</li>
    <li>Organic: {% if x.isOrganic == True %} Yes {% else %} No{% endif %}</li>
    <li>Gluten Free: {% if x.containtsGluten == True %} No {% else %} Yes{% endif %}</li>
    <li>Dairy Free: {% if x.containtsDairy == True %} No {% else %} Yes{% endif %}</li>
</ul>
<form action="" method="post">
    {% csrf_token %}
    <button type="submit" method="post">Submit</button>
</form>

{% endfor %}
{% endblock %}