<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Demeter</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Borel&family=Hind+Siliguri&family=Roboto&family=Source+Code+Pro&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>

<body class="body">
<div>
    <div class="layout-wrapper">
        <div class="demeter-figure">
            <img alt="dem" src="{% static 'img/demeter-Img.png' %}">
            <h1>Demeter</h1>
        </div>
        <div class="nav-area">
            <h3>Navigation</h3>
            <ul class="nav-list">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'monitor' %}">Monitor</a></li>
                <li><a href="{% url 'interface' %}">Interface</a></li>
                <li><a href="{% url 'containers' %}">Containers</a></li>
                <li><a href="{% url 'dashers' %}">Dashers</a></li>
                <li><a href="{% url 'facilities' %}">Facilities</a></li>
                <li><a href="{% url 'admin:index' %}">Admin</a></li>
            </ul>
            <h3>General</h3>
            <h3>Tasks</h3>
        </div>
    </div>
    <div class="other-pages-bodies">
    {% block body %}


    {% endblock body %}
    </div>
</div>
</body>
</html>