<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Demeter</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Borel&family=Hind+Siliguri&family=Roboto&family=Source+Code+Pro&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body class="body">
<div class="demeter-figure">
    <img alt="dem" src="{% static 'img/demeter-Img.png' %}">
    <h1 id="temp-headline">Demeter</h1>
</div>
    <nav class="nav-bar">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'monitor' %}">Monitor</a>
        <a href="{% url 'interface' %}">Interface</a>
        <a href="{% url 'containers' %}">Containers</a>
        <a href="{% url 'dashers' %}">Dashers</a>
        <a href="{% url 'facilities' %}">Facilities</a>
        <a href="{% url 'admin:index' %}">Admin</a>
    </nav>
    <h3>Active User: {{ user }}</h3>
    {% block body %}
    <h1>YESSS</h1>




    

    {% endblock body %}

</body>
</html>