{% extends 'inhabitant/base.html' %}

{% block body%}
<div>
<h1></h1>
{% if numcon >= 100 %}
<h3>MAX CONTAINERS</h3>
{% else %}
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create Container</button>
</form>
{% endif %}


<ul>
    <li>Containers: {{ numcon }} </li>
    <li>Ration Packs: {{ rpcon }}</li>
    <li>Rations: </li>
</ul>

{% for container in containers %}
<h3>{{ container }}</h3>
<h5>{{ container.location }}</h5>
<h5>Ration Pack Count: {{ container.RationPack.all.count }} </h5> 
    <ul> 
        {% for rationpack in container.RationPack.all %}
        <li>{{ rationpack }} - {{ rationpack.rations }}</li>
        {% endfor %}
    </ul>
{% endfor %}


</div>
{% endblock %} 