{% extends 'inhabitant/base.html' %}


{% block body%}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/container.css' %}">
<div class="container">
    <div>
        <h1 class="header">Resource Management
            <p>This is where you see how much food is left and it’s overall status</p>
        </h1>
    </div>
    <h3>Inhabitant Provisions and Resource Inventory</h3>
    <div class="main-content">
        <div class="resources">
            <h3>Resource Utilization</h3>
            <h1>62<p>%</p></h1>
        </div>
        <div class="requests"></div>
        <div class="temperature"></div>
        <div class="available-resources"></div>
        <div class="consumption"></div>
        <div class="water"></div>
        <div class="provision"></div>
        <div class="depletion"></div>


    </div>
</div>










<!-- <div>
<h1></h1>
{% if numcon >= 100 %}
<h3>MAX CONTAINERS</h3>
{% else %}
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create Container</button>
</form>
{% endif %}


<ul>
    <li>Containers: {{ numcon }} </li>
    <li>Ration Packs: {{ rpcon }}</li>
    <li>Rations: </li>
</ul>

{% for container in containers %}
<h3>{{ container }}</h3>
<h5>{{ container.location }}</h5>
<h5>Ration Pack Count: {{ container.RationPack.all.count }} </h5> 
    <ul> 
        {% for rationpack in container.RationPack.all %}
        <li>{{ rationpack }} - {{ rationpack.rations }}</li>
        {% endfor %}
    </ul>
{% endfor %}


</div> -->
{% endblock %} 