{% extends 'inhabitant/base.html' %}


{% block body%}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/container.css' %}">
<div class="container">
    <div>
        <h1 class="header">Resource Management
            <p>This is where you see how much food is left and it’s overall status</p>
        </h1>
    </div>
    <h3>Inhabitant Provisions and Resource Inventory</h3>
    <div class="main-content">
        <div class="resources">
            <h3>Resource Utilization</h3>
            <h1>62<p>%</p></h1>
        </div>
        <div class="requests">
            <h3>Resource Requests</h3>
            <div>
                <h4>4</h4>
                <p>Pending Requests</p>
            </div>
            <div>
                <h4>16</h4>
                <p>Approved Requests</p>
            </div>
        </div>
        <div class="temperature">
            <h4>Operational Temperature</h4>
        </div>
        <div class="available-resources">
            <h4>Available Resources</h4>
            <div class="resource-grid">
                <!-- Create JS to randomly give color -->
                {% for container in containers %}
                <div id="colored-box"></div>
                {% endfor %}
            </div>
        </div>
        <div class="consumption">
            <h4>Resource Consumption Rate</h4>
            <svg>

            </svg>
        </div>
        <div class="water">
            <h4>Water Supply</h4>
        </div>
        <div class="provision">
            <h4>Provision Distribution</h4>
        </div>
        <div class="resource-variety">
            <h4>Resource Variety</h4>
            <div class="variety-wrapper">
                <div class="pieContainer">
                    <div class="pieBackground"></div>
                    <div id="other" class="hold"><div class="pie"></div></div>
                    <div id="medical" class="hold"><div class="pie"></div></div>
                    <div id="food" class="hold"><div class="pie"></div></div>
                    <div id="water" class="hold"><div class="pie"></div></div>
                    <div class="innerCircle"></div>
                </div>
                <div class="variety-key">
                    <div><h6><div id="food-color"></div>Food</h6><p>35 Types</p></div>
                    <div><h6><div id="water-color"></div>Water</h6><p>N/A</p></div>
                    <div><h6><div id="medical-color"></div>Medical Supplies</h6><p>15 Types</p></div>
                    <div><h6><div id="other-color"></div>Other</h6><p>3 Types</p></div>
                </div>
            </div>
        </div>
    </div>
</div>










<!-- <div>
<h1></h1>
{% if numcon >= 100 %}
<h3>MAX CONTAINERS</h3>
{% else %}
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create Container</button>
</form>
{% endif %}


<ul>
    <li>Containers: {{ numcon }} </li>
    <li>Ration Packs: {{ rpcon }}</li>
    <li>Rations: </li>
</ul>

{% for container in containers %}
<h3>{{ container }}</h3>
<h5>{{ container.location }}</h5>
<h5>Ration Pack Count: {{ container.RationPack.all.count }} </h5> 
    <ul> 
        {% for rationpack in container.RationPack.all %}
        <li>{{ rationpack }} - {{ rationpack.rations }}</li>
        {% endfor %}
    </ul>
{% endfor %}


</div> -->
{% endblock %} 