{% extends 'inhabitant/base.html' %}
{% block body %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/habdash.css' %}">
<div class="container">
    <h1 class="header">Empty
        <p>empty</p> 
    </h1>

    <h1 class="sub-header">{{ inhabitant }}</h1>
    <div class="wrapper">
        <div class="nutrients">
            <h1>Nutrient Profile</h1>
        </div>
        <div class="macro">
            <h1>Macronutrient Distribution</h1>
        </div>
        <div class="vitamins">
            <h1>Vitamins and Minerals</h1>
        </div>
        <div class="hydration">
            <h1>Hydration</h1>
            <div>
                <div class="hyrdation-container">
                    <div class="hydration-background"></div>
                    <div class="innerCircle"></div>
                    <div class="hydration-status"></div>
                </div>
                <div class="water-info">
                    <h3>Fluid Intake</h3>
                    <div class="water-text">
                        <p>Aim for at least <span>8-10 cups</span> of water per day</p>
                        <h5>64-80 oz</h5>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}



        <!-- <ul>
            <li>ID: {{ inhabitant.inhabitantID }}</li>
            <li>Height: {{ inhabitant.height }} inches</li>
            <li>Weight: {{ inhabitant.weight }} pounds</li>
        </ul>

        <ul>
            <li>Calories Consumed: {{ nutrition.caloriesConsumed }}</li>
            <li>Fat Consumed: {{ nutrition.fatConsumed }}</li>
            <li>Protein Consumed: {{ nutrition.proteinConsumed }}</li>
            <li>Fiber Consumed: {{ nutrition.fiberConsumed }}</li>
            <li>Sodium Consumed: {{ nutrition.sodiumConsumed }}</li>
        </ul>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {{ facilityForm.as_p }}
            <button type="submit">Order</button>
        </form>
        {% if rationDNE == True %}
        <h3> Out of Ration</h3>
        {% endif %} -->