{% extends 'inhabitant/base.html' %}
{% block body %}
<div class="container">
    <h1 class="header">Dasher Tracking
        <p>Monitor and move all Dashers</p>
    </h1>

    <h1>{{ inhabitant }}</h1>
    <ul>
        <li>ID: {{ inhabitant.inhabitantID }}</li>
        <li>Height: {{ inhabitant.height }} inches</li>
        <li>Weight: {{ inhabitant.weight }} pounds</li>
    </ul>

    <ul>
        <li>Calories Consumed: {{ nutrition.caloriesConsumed }}</li>
        <li>Fat Consumed: {{ nutrition.fatConsumed }}</li>
        <li>Protein Consumed: {{ nutrition.proteinConsumed }}</li>
        <li>Fiber Consumed: {{ nutrition.fiberConsumed }}</li>
        <li>Sodium Consumed: {{ nutrition.sodiumConsumed }}</li>
    </ul>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {{ facilityForm.as_p }}
        <button type="submit">Order</button>
    </form>
    {% if rationDNE == True %}
    <h3> Out of Ration</h3>
    {% endif %}
    </div>
{% endblock %}