{% extends 'inhabitant/base.html' %}

{% block body%}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
<h1 id="welcome-header">Welcome to Demeter</h1>
<div class="demeter-chat">

    <p id="demeter-output">
        {{ demeterOutput }}
    </p>

    <div class="input-area">
        <form action="" method="post">
            {% csrf_token %}
            <input id="user-input" type="text" name="queryInput" placeholder="ex. @Demeter where is @Dasher 1">
            <button id="submit-button" type="submit">Submit</button>
        </form>
    </div>
</div>



{% endblock body %}