{% extends 'inhabitant/base.html' %}

{% block body%}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
<h1 id="welcome-header">Welcome to Demeter</h1>
<div class="wrapper-demeter">
    <div class="demeter-chat">

        <p id="demeter-output">
            {{ demeterOutput }}

            {% if orderForm %}
            <form method="post" action="">
                <select title="inhabOptions">
                    {% for optionInhab in inhabitantOptions %}
                    <option>{{ optionInhab }}</option>
                    {% endfor %}
                </select>
                <select title="mealOptions">
                    {% for optionMeal in mealOptions %}
                    <option>{{ optionMeal }}</option>
                    {% endfor %}
                </select>
                <select title="facilityOptions">
                    {% for optionFac in facilityOptions %}
                    <option>{{ optionFac }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Order</button>
            </form>
            {% endif %} 
        </p>

        <div class="input-area">
            <form action="" method="post" autocomplete="off">
                {% csrf_token %}
                <input id="user-input" type="text" name="queryInput" placeholder="ex. @Demeter where is @Dasher 1">
                <button id="submit-button" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>



{% endblock body %}