{% extends 'inhabitant/base.html' %}

{% block body%}

{% for person in nutrition %}
<div>
<h1><a href="{% url 'inhabdash' inhabitantID=person.inhabitant.inhabitantID %}">{{ person.inhabitant.firstName }} {{ person.inhabitant.lastName }}</a></h1>
<h3>{{ person.inhabitant.status }}</h3>
    <ul>
        <li>ID: {{ person.inhabitant.inhabitantID }}</li>
        <li>Height: {{ person.inhabitant.height }} inches</li>
        <li>Weight: {{ person.inhabitant.weight }} pounds</li>
        <li>Calories Consumed: {{ person.caloriesConsumed }} calories</li>
        <li>Fat Consumed: {{ person.fatConsumed }} grams</li>
        <li>Sodium Consumed: {{ person.sodiumConsumed }} grams</li>
        <li>Fiber Consumed: {{ person.fiberConsumed }} grams</li>
        <li>Protein Consumed: {{ person.proteinConsumed }} grams</li>
    </ul>
</div>
{% endfor %}


<h1>Create New Inhabitant</h1>
<h1>{{ method }}</h1>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create Inhabitant</button>
</form>

{% endblock body %}